@using Web.Pagers
@using Web.Controllers;
@model Data.Models.UserIndexViewModel

@{
    ViewBag.Title = "Users";
}

<script>

    function Search() {
        @UserPager.search=document.getElementById("SearchString").value
        @if (Model.Items.Count() < 1) Model.Pager.CurrentPage = 1;
    }
</script>
<h1>Users</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm())
{
    <label for="pages"></label>
    <select name="pages" id="pages" value="@Model.Pager.ShowRecords">

        @foreach (var item in Model.pageRecordShow)
        {
            if (item == Model.Pager.ShowRecords)
            {
                <option selected value="@item">@item</option>
            }
            else
            {
                <option value="@item">@item</option>
            }
        }

    </select>
    <button asp-action="Index" asp-route-Pager.CurrentPage="1">Show</button>
    <p>
        Search:
        
        <input name="SearchString" id ="SearchString" type="text" value="@UserPager.search" /> 

        <button asp-action="Index" asp-route-Pager.CurrentPage="1" onclick="Search()">Search</button> 
    </p>
}
<ul class="pagination">

    @for (var i = 1; i <= Model.Pager.PagesCount; ++i)
    {

        <li class="page-item @(i == Model.Pager.CurrentPage ? "active" : "")">

            <a asp-route-Pager.CurrentPage="@i" class="page-link">@i</a>
        </li>
    }
    
</ul>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().PersonalIdentificationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonalIdentificationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @{
                        if (item.Role != "Admin")
                        {
                            <font>|</font>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
